.main-dashboard {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 94px 10px 10px 0px;
    margin-left: 20vw;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap:10px;
  }
  
  .stat-item {
    padding: 15px;
    padding-left: 0;
    border-radius: 8px;
    width: 150px;
    text-align: center;
  }
  
  .checked-in {
    background-color: #dff0d8;
  }
  
  .checked-out {
    background-color: #fcf8e3;
  }
  
  .absent {
    background-color: #f2dede;
  }
  
  .user-search input {
    width: 90%;
    padding: 10px;
    bottom: 20px;
    margin-bottom: 1rem;
  }
  
  .user-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .user-card {
    width: 150px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
  }
  
  .checkout-button {
    background-color: #f2dede;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
@media(max-width: 920px) {
  .main-dashboard {
    width:100%;
    margin-left:10px;
  }
}

@media (max-width: 470px) {
  .user-cards {
    justify-content: center;
  }
}