.sidebar-right {
    margin-top: 100px;
    width: 250px;
    background-color: #e0e0e0;
    padding: 20px;
  }
  
  .recent-attendance ul {
    list-style: none;
    padding: 0;
  }
  .attendance-summary{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  