/* AttendanceOverview.css */
.attendance-overview {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .attendance-box {
    background-color: #cce5ff;
    width:6rem;
    padding:25px;
    border-radius: 8px;
    color: #333;
    flex: 1;
  }
  
  .attendance-progress {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
  }
  
  .progress-circle {
    font-size: 24px;
    color: purple;
    margin-top: 10px;
  }
  