/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #d3e0fa; /* Light blue background */
}

.navbar h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.navbar-actions {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.sign-out-button {
  background-color: #007bff; /* Blue color for button */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
  font-weight: bold;
}

.sign-out-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Profile Initials */
.profile-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

/* Profile Picture */
.navbar-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
